<%- include('../includes/head.ejs') %>

<body>
  <%- include('../includes/navigation.ejs') %>

  <main class="container-fluid">
    <% if (bankAccountDetails.length > 0) { %>
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row" style="display: flex; align-items: flex-end">
          <div class="col-sm-6">
            <h4><b><%= bankAccount.accountName %> </b> Khata</h4>
          </div>
          <div class="col-sm-6 table-action" style="display: flex; flex-direction: row-reverse">
            <span>
              <h6>
                <b>Current</b> Balance :
                <strong><%= bankAccount.balance %>/=</strong>
              </h6>
            </span>
          </div>
        </div>
      </div>

      <!-- khata table -->
      <div class="table-responsive-sm">
        <table id="example1" class="table table-sm table-hover align-middle text-nowrap border table-bordered border-dark">
          <thead class="table-secondary">
            <tr>
              <th scope="col" class="text-center"># ID</th>
              <th scope="col" class="text-center">Date</th>
              <th scope="col">Customer</th>
              <th scope="col" class="text-center">Pay Type</th>
              <th scope="col">Credit +</th>
              <th scope="col">Debit -</th>
              <th scope="col">Balance</th>
            </tr>
          </thead>
          <tbody>
            <% var bankId = 0  %>
            <% for (let [i, bankAccountKhata] of bankAccountDetails.entries()) {
          %>

            <% if (i === 0) { %>
            <tr>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th class="text-end text-uppercase">starting</th>
              <th><%= bankAccountKhata.startingBalance %></th>
            </tr>
            <!-- handle all other entries in table -->
            <% } else { %>
            <tr>
              <th scope="row" class="text-center"><%= ++bankId  %></th>
              <td class="text-center"><%= new Date(bankAccountKhata.Date).toLocaleDateString() %></td>
              <td style="padding-left: 5px;"><%= bankAccountKhata.customerDetails  %></td>
              <td class="text-center"><%= bankAccountKhata.paymentType.toUpperCase() %></td>
              <td style="padding-left: 5px;"><%= bankAccountKhata.credit %></td>
              <td style="padding-left: 5px;"><%= bankAccountKhata.debit %></td>
              <td style="padding-left: 5px;"><%= bankAccountKhata.balance %></td>
            </tr>
            <% } %>
            <% } %>
          </tbody>
          <tfoot>
            <tr>
              <th colspan="4" style="text-align:right">Total</span>
                :</th>
              <th colspan="1"></th>
              <th></th>
              <th colspan="1">
                <%= bankAccount.balance %>
              </th>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
    <% } else { %>
    <!-- table action button work -->
    <h1 class="centered">No Khata Details for <%= bankAccountDetails %>!</h1>
    <% } %>


    <script src="https://code.jquery.com/jquery-3.5.1.js"> </script>
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"> </script>
    <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"> </script>

    <script>
      $('#example1').DataTable({
        aLengthMenu: [
          [50, 100, 200, -1],
          [50, 100, 200, "All"]
        ],
        "columns": [{
            "data": "id"
          },
          {
            "data": "date"
          },
          {
            "data": "customer"
          },
          {
            "data": "paymentType"
          },
          {
            "data": "credit",
            render: $.fn.dataTable.render.number(',', '.')
          },
          {
            "data": "debit",
            render: $.fn.dataTable.render.number(',', '.')
          },
          {
            "data": "balance",
            render: $.fn.dataTable.render.number(',', '.')
          },
        ],
        footerCallback: function(row, data, start, end, display) {
          var api = this.api();
          // Remove the formatting to get integer data for summation
          var intVal = function(i) {
            return typeof i === 'string' ? i.replace(/[\$,]/g, '') * 1 : typeof i === 'number' ? i : 0;
          };
          // Total over this page
          var creditTotal = 0;
          var debitTotal = 0;

          let [creditData, debitData] = api.columns([4, 5], {
            page: "current"
          }).data().toArray();

          for (let index = 0; index < creditData.length; index++) {
            if (Number(creditData[index]))
              creditTotal += Number(creditData[index])
            if (!isNaN(debitData[index]))
              debitTotal += Number(debitData[index])

          }
          // // Update footer
          $(api.column(4).footer()).html(creditTotal.toLocaleString('en-US'));
          $(api.column(5).footer()).html(debitTotal.toLocaleString('en-US'));
        },
      });
    </script>
  </main>
  <%- include('../includes/end.ejs') %>
</body>