<div class="backdrop"></div>
<header class="main-header">
  <button id="side-menu-toggle">Menu</button>
  <span
    id="heading"
    style="
      margin: 0px 100px 0px 50px;
      color: white;
      font-weight: 600;
      width: 28%;
      font-size: 32px;
      letter-spacing: 3px;
    "
  >
    <a href="/" style="text-decoration: none; color: white">Khata System App</a>
  </span>
  <nav class="main-header__nav">
    <ul class="main-header__item-list">
      <li class="main-header__item">
        <a class="<%= path === '/bank' ? 'active' : '' %>" href="/bank"
          >Banks</a
        >
      </li>
      <li class="main-header__item">
        <a class="<%= path === '/size' ? 'active' : '' %>" href="/size"
          >Sizes</a
        >
      </li>
      <li class="main-header__item">
        <a class="<%= path === '/pattern' ? 'active' : '' %>" href="/pattern"
          >Patterns</a
        >
      </li>
      <li class="main-header__item">
        <a class="<%= path === '/stock' ? 'active' : '' %>" href="/stock"
          >Stocks</a
        >
      </li>
      <li class="main-header__item">
        <a
          class="<%= path === '/entry-type' ? 'active' : '' %>"
          href="/entry-type"
          >Entry Types</a
        >
      </li>
      <li class="main-header__item">
        <a
          class="<%= path === '/bank-account' ? 'active' : '' %>"
          href="/bank-account"
          >Bank Accounts</a
        >
      </li>
      <li class="main-header__item">
        <a class="<%= path === '/customer' ? 'active' : '' %>" href="/customer"
          >Customers</a
        >
      </li>
      <li class="main-header__item">
        <a
          class="<%= path === '/roznamcha' ? 'active' : '' %>"
          href="/roznamcha"
          >Roznamcha</a
        >
      </li>
    </ul>
  </nav>
</header>

<nav class="mobile-nav">
  <ul class="mobile-nav__item-list">
    <li class="mobile-nav__item">
      <a class="<%= path === '/bank' ? 'active' : '' %>" href="/bank">Banks</a>
    </li>
    <li class="mobile-nav__item">
      <a class="<%= path === '/size' ? 'active' : '' %>" href="/size">Sizes</a>
    </li>
    <li class="mobile-nav__item">
      <a class="<%= path === '/pattern' ? 'active' : '' %>" href="/pattern"
        >Patterns</a
      >
    </li>
    <li class="mobile-nav__item">
      <a class="<%= path === '/stock' ? 'active' : '' %>" href="/stock"
        >Stock</a
      >
    </li>
    <li class="mobile-nav__item">
      <a
        class="<%= path === '/entry-type' ? 'active' : '' %>"
        href="/entry-type"
        >Entry Types</a
      >
    </li>
    <li class="mobile-nav__item">
      <a
        class="<%= path === '/bank-account' ? 'active' : '' %>"
        href="/bank-account"
        >Bank Accounts</a
      >
    </li>
    <li class="mobile-nav__item">
      <a class="<%= path === '/customer' ? 'active' : '' %>" href="/customer"
        >Customers</a
      >
    </li>
    <li class="mobile-nav__item">
      <a class="<%= path === '/roznamcha' ? 'active' : '' %>" href="/roznamcha"
        >Roznamcha</a
      >
    </li>
  </ul>
</nav>
