<%- include('../includes/head.ejs') %>

<body>
  <%- include('../includes/navigation.ejs') %>

  <main class="container-fluid">
    <!-- if we already have stockBook entries -->
    <% if (stockBooks.length> 0) { %>
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row" style="display: flex; align-items: flex-end;">
          <div class="col-sm-6">
            <!-- main stockBook page title -->
            <h4>Manage <b>Stock Book</b></h4>
          </div>
          <div class="col-sm-6 table-action" style="display: flex; flex-direction: row-reverse;">

            <!-- table action button work -->
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
              <!-- add stock button  -->
              <a href="/add-stock-book/?addStock=true" class="btn btn-sm btn-outline-primary me-md-2 modalButton" style="text-decoration: none;">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                  <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                </svg>
                Add <strong>Stock</strong> Entry
              </a>

              <!-- sell stock button  -->
              <a href="/add-stock-book/?sellStock=true" class="btn btn-sm btn-outline-dark modalButton" style="text-decoration: none;">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-currency-dollar" viewBox="0 0 16 16">
                  <path d="M4 10.781c.148 1.667 1.513 2.85 3.591 3.003V15h1.043v-1.216c2.27-.179 3.678-1.438 3.678-3.3 0-1.59-.947-2.51-2.956-3.028l-.722-.187V3.467c1.122.11 1.879.714 2.07 1.616h1.47c-.166-1.6-1.54-2.748-3.54-2.875V1H7.591v1.233c-1.939.23-3.27 1.472-3.27 3.156 0 1.454.966 2.483 2.661 2.917l.61.162v4.031c-1.149-.17-1.94-.8-2.131-1.718H4zm3.391-3.836c-1.043-.263-1.6-.825-1.6-1.616 0-.944.704-1.641 1.8-1.828v3.495l-.2-.05zm1.591 1.872c1.287.323 1.852.859 1.852 1.769 0 1.097-.826 1.828-2.2 1.939V8.73l.348.086z" />
                </svg>
                Sell <strong>Stock</strong> Entry
              </a>
            </div>
          </div>
        </div>
      </div>

      <!-- main table here -->
      <div class="table-responsive-sm">
        <table cellspacing="5" cellpadding="5">
          <tbody>
            <tr>
              <td>From Date:</td>
              <td><input type="text" id="min" name="min"></td>

              <td>To Date:</td>
              <td><input type="text" id="max" name="max"></td>
            </tr>
          </tbody>
        </table>
        <table id="example" class="table table-sm table-hover align-middle text-nowrap border table-bordered border-dark">
          <thead class="table-secondary">
            <tr>
              <!-- all table columns -->
              <th scope="col" class="text-center"># ID</th>
              <th scope="col" class="text-center">Date</th>
              <th scope="col" class="text-center">QTY</th>
              <th scope="col">Pattern / Size</th>
              <th scope="col" class="text-center">ET</th>
              <th scope="col" class="text-center">Detail</th>
              <th scope="col" class="text-center">Cust / Truck #</th>
              <th scope="col" class="text-center">Price </th>
              <th scope="col" class="text-center">Total/ Rent</th>
              <th scope="col" class="text-center">Actions</th>
            </tr>
          </thead>
          <!-- table body with all data  -->
          <tbody>
            <% for (let [i, stockBook] of stockBooks.entries()) { %>
            <tr scope="row">
              <!-- id column -->
              <th class="text-center">
                <%= i+1 %>
              </th>
              <!-- date column -->
              <td class="text-center">
                <%= new Date(stockBook.updatedAt).toLocaleDateString() %>
              </td>

              <!-- QTY column -->
              <td class="text-center">
                <%= stockBook.qty %>
              </td>
              <!-- Pattern / Size column  1 in link just for to hit the route -->
              <td>&nbsp;
                <a href="<%='/stock/1?sizeId=' + stockBook.sizeId + '&patternId=' + stockBook.patternId %>" style="color:black"><%=stockBook.pattern.name %>
                  <%=stockBook.size.type %>&nbsp;</a>
              </td>
              <!-- entry type  column -->
              <td class="text-center">
                <% if (stockBook.entryType === "addStock") { %>
                <span class="text-primary" style="margin: 0px 5px 0px 2px;">Arrive</span>
                <% } else if (stockBook.entryType === "sellStock") { %>
                <span class="text-dark" style=" margin: 0px 23px 0px 17px;">Sell</span>
                <% }
                  %>
              </td>
              <!-- khata / cash / truck column -->
              <td class="text-center">
                <% if (stockBook.customerType === "nonCash") { %>
                Khata
                <% } else if (stockBook.customerType === "cash") { %>
                Cash
                <% } else if (stockBook.entryType === "addStock") { %>
                Truck
                <% }  %>
              </td>
              <!-- customer column -->
              <td class="text-center">
                <% if (stockBook.entryType === "sellStock") { %>
                <%-stockBook.customerType === "nonCash" ? '<a href="/customer/khata/' + stockBook.customerId + '" style="color:black;">' + stockBook.customer.name + '</a>' : stockBook.cashCustomer %>
                <% } else { %>
                <%=stockBook.truckNumber %>
                <% } %>
              </td>
              <!-- price / truck # column -->
              <td class="text-center">
                <% if (stockBook.entryType === "addStock") { %>
                -
                <% } else { %>
                <%=stockBook.amount %>
                <% } %>
              </td>
              <!-- total / rent column -->
              <td style="padding-left: 5px;">
                <% if (stockBook.entryType === "addStock") { %>
                <%=stockBook.amount %>
                <% } else { %>
                <%=Number(stockBook.amount) *
                    (Number(stockBook.qty) % 2 === 0 ? Number(stockBook.qty) / 2 : Number(stockBook.qty)) %>
                <% } %>
              </td>

              <!-- action buttons -->
              <td class="text-center">
                <form action="/edit-stock-book/<%= stockBook.id %>" method="get">
                  <!-- edit button -->
                  <button type="submit" class="btn btn-link modalButton">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                      <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                      <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                    </svg></button>
                  <input type="hidden" name="edit" value="true" />
                  <input type="hidden" name="entryType" value="<%= stockBook.entryType %>" />
                </form>

                <form action="/delete-stock-book" method="post">
                  <!-- delete button -->
                  <button class="btn btn-link modalButton" style="color: red;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                      <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                    </svg></button>
                  <input type="hidden" value="<%= stockBook.id %>" name="stockBookId">
                  <input type="hidden" name="entryType" value="<%= stockBook.entryType %>" />
                </form>
              </td>
            </tr>
            <% } %>
          </tbody>
          <tfoot>
            <tr>
              <th colspan="3" style="text-align:right">Total <span class="text-primary">Arrive</span>
                :</th>
              <th colspan="2"></th>
              <th style="text-align:right">Total <span class="text-dark">Sell</span>
                :</th>
              <th colspan="4">
              </th>
            </tr>
          </tfoot>
        </table>

        <!-- if we don't have any data in stockBook right now -->
        <% } else { %>

        <!-- table action button work -->
        <a href="/add-stock-book/?addStock=true" class="btn btn-outline-primary" style="margin: 0.5rem">Add First <strong>Stock</strong>
          Entry</a>
        <a href="/add-stock-book/?sellStock=true" class="btn btn-outline-warning" style="margin: 0.5rem">First Sell <strong>Stock</strong>
          Entry</a>
        <h1 class="centered">No Stock Book Data Found!</h1>
        <% } %>


        <!-- javascript work here -->
        <script src="https://code.jquery.com/jquery-3.5.1.js"> </script>
        <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"> </script>
        <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"> </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.2/moment.min.js"> </script>
        <script src="https://cdn.datatables.net/datetime/1.1.2/js/dataTables.dateTime.min.js"> </script>

        <script>
          window.onload = function() { // when the page has loaded
            var bt = document.querySelectorAll(".modalButton"); // get all buttons with the class
            for (var i = 0; i < bt.length; i++) { // newer browsers can use forEach
              bt[i].onclick = function() { // assign anonymous handler
                $("#myModal").modal("toggle");
              }
            }
          }

          var minDate, maxDate;

          // Custom filtering function which will search data in column four between two values
          $.fn.dataTable.ext.search.push(
            function(settings, data, dataIndex) {
              var min = minDate.val();
              var max = maxDate.val();
              var date = new Date(data[1]);

              // set hours settings for dates
              if (min || max) {
                min = new Date(min);
                min = min.setHours(0, 0, 0, 0);
                max = new Date(max);
                max = max.setHours(23, 59, 0, 0);
              }

              if (
                (min === null && max === null) ||
                (min === null && date <= max) ||
                (min <= date && max === null) ||
                (min <= date && date <= max)
              ) {
                return true;
              }
              return false;
            }
          );


          $(document).ready(function() {


            // Create date inputs
            minDate = new DateTime($('#min'), {
              format: 'MMMM Do YYYY',

            });
            maxDate = new DateTime($('#max'), {
              format: 'MMMM Do YYYY'
            });




            // DataTables initialisation
            var table = $('#example').DataTable({
              responsive: true,
              aLengthMenu: [
                [50, 100, 200, -1],
                [50, 100, 200, "All"]
              ],
              "columns": [{
                  "data": "id"
                },
                {
                  "data": "data"
                },
                {
                  "data": "qty"
                },
                {
                  "data": "pattern/size"
                },
                {
                  "data": "et"
                },
                {
                  "data": "detail"
                },
                {
                  "data": "cust/truck"
                },
                {
                  "data": "price",
                  render: $.fn.dataTable.render.number(',', '.')
                },
                {
                  "data": "total/rent",
                  render: $.fn.dataTable.render.number(',', '.')
                },
                {
                  "data": "actions"
                }
              ],
              footerCallback: function(row, data, start, end, display) {
                var api = this.api();
                // Remove the formatting to get integer data for summation
                var intVal = function(i) {
                  return typeof i === 'string' ? i.replace(/[\$,]/g, '') * 1 : typeof i === 'number' ? i : 0;
                };
                // Total over this page
                var sellTotal = 0;
                var arriveTotal = 0;




                let [qtyData, stockData] = api.columns([2, 4], {
                  page: "current"
                }).data().toArray();

                for (let index = 0; index < qtyData.length; index++) {
                  if (stockData[index].includes("Sell")) {
                    sellTotal += intVal(qtyData[index]);
                  } else if (stockData[index].includes("Arrive")) {
                    arriveTotal += intVal(qtyData[index]);
                  }

                }

                // // Update footer
                $(api.column(3).footer()).html(arriveTotal);
                $(api.column(6).footer()).html(sellTotal);
              },
            });

            // Refilter the table
            $('#min, #max').on('change', function() {
              table.draw();
            });
          });
        </script>

  </main>
  <%- include('../includes/end.ejs') %>
</body>