<%- include('../includes/head.ejs') %>


<body>
  <!-- control navigation of page here  -->
  <%- include('../includes/navigation.ejs') %>
  <main class="row vertical-center">
    <div id="whatsapp" class="col-xs-8 col-xs-offset-2  col-sm-6 col-sm-offset-3 col-md-4 col-sm-offset-4 col-lg-8 col-lg-offset-5s">

      <!-- page title for edit pages -->
      <span for="name" class="fs-3" style="display: flex;margin-bottom: 20px;">
        Enter <b>&nbsp; <%- entryType === "debitAmount" ? "<span class='text-danger'> - Debit Amount </span>" : entryType === 'creditAmount' ? "<span class='text-success'> + Credit Amount </span>" : '' %> &nbsp;</b> Details:
      </span>

      <!-- edit form settings and actions -->
      <form class="form-control " id="formId" action="/<% if (editing) { %>edit-cash-book/?type=<%= entryType === 'creditAmount' ? "creditAmount" : entryType === 'debitAmount' ? "debitAmount" : '' %>
            <% } else { %>add-cash-book/?type=<%= entryType === 'creditAmount' ? "creditAmount" : entryType === 'debitAmount' ? "debitAmount" : '' %>
                <% } %>" method="POST">


        <!-- hidden field to for getting entry type -->
        <input style="margin: 10px 0px;" type="hidden" class="form-control form-control-lg" name="entryType" id="entryType" value="<%= entryType === 'creditAmount' ? "creditAmount" : entryType === 'debitAmount' ? "debitAmount": '' %>">


        <!-- Customer Type Input Field -->
        <label for="customerType" class="form-label">
          <% if (editing) { %>Update <% } else { %>Select <% } %>
          <b>Customer Type:</b>
        </label>
        <select class="form-select" style="margin: 10px 0px;" id="customerType" name="customerType" onchange="customerTypeChange(this.value)" required>
          <option disabled value="">Select Customer Type</option>
          <% for (let [i, customerType] of customerTypes.entries()) { %>
          <option <% if (editing && customerType === cashBook.customerType ) { %> selected='selected' <% } else if(!editing && customerType === "nonCash") { %> selected='selected' <% } %> value="<%= customerType %>"><%= customerType.toUpperCase() %>
          </option>
          <% } %>
        </select>


        <!-- Customer Input Field -->
        <label for="customer" class="form-label">
          <% if (editing) { %>Update <% } else { %>Select <% } %>
          <b>Customer </b> name:
        </label>
        <span id="customerField">
          <select class="form-select" style="margin: 10px 0px;" id="customer" name="customer" required>
            <option selected disabled value="">Select Customer name</option>
            <% for (let [i, customer] of customers.entries()) { %>
            <option <% if (editing && customer.id===cashBook.customerId ) { %> selected='selected' <% } else { %> <% } %> style="color: green" value="<%= customer.id %>">
              <%= customer.name %>
            </option>
            <% } %>
          </select>
        </span>


        <!-- Payment Type Input Field -->
        <label for="paymentType" class="form-label">
          <% if (editing) { %>Update <% } else { %>Select <% } %>
          <b>Payment Type : </b>
        </label>
        <select class="form-select" style="margin: 10px 0px;" id="paymentType" name="paymentType" onchange="paymentTypeChange(this.value)" required>
          <option selected disabled value="">Select Payment Method</option>
          <% for (let [i, paymentType] of paymentTypes.entries()) { %>
          <option <% if (editing && paymentType===cashBook.paymentType ) { %> selected='selected' <% } else { %> <% } %> value="<%= paymentType %>"><%= paymentType.toUpperCase() %>
          </option>
          <% } %>
        </select>

        <!-- Bank Account Input Field -->
        <span id="bankAccount">
          <label for="bankAccount" class="form-label">
            <% if (editing) { %>Update <% } else { %>Select <% } %>
            <b>Bank Account : </b>
          </label>
          <select class="form-select" style="margin: 10px 0px;" id="bankAccount" name="bankAccount" required>
            <option selected disabled value="">Select Bank Account Name</option>
            <% for (let [i, bankAccount] of bankAccounts.entries()) { %>
            <option <% if (editing && bankAccount.id===cashBook.bankAccountId ) { %> selected='selected' <% } else { %> <% } %> value="<%= bankAccount.id %>"><%= bankAccount.accountName %>
            </option>
            <% } %>
          </select>
        </span>

        <!-- Amount Input Field -->
        <label for="amount" class="form-label"><b>
            <% if (editing) { %>Update existing <%= "Amount :" %><% } else { %>Enter <%= "Amount :" %> <% }%>
          </b>
        </label>
        <input style="margin: 10px 0px;" type="text" class="form-control form-control-lg" placeholder="e.g 325000/=" name="amount" id="amount" value="<% if (editing) { %><%= cashBook.amount %><% } %>" required>

        <!-- hidden input field for getting cashBook id in edit mode -->
        <% if (editing) { %>
        <input type="hidden" value="<%= cashBook.id %>" id="cashBookId" name="cashBookId">
        <% } %>

        <!-- form submit button  -->
        <div>
          <button type="submit" id="submit" class="btn btn-lg btn-outline-success" style="margin-top: 20px;">
            <% if (editing) { %>Update CahBook Entry<% } else { %>Add New CahBook
            Entry<% } %>
          </button>
        </div>
        <div id="formButton">

        </div>
      </form>
    </div>
  </main>
  <!-- added javascript logic to control form -->
  <!-- to control the input field logic here  -->
  <!-- below first script tag is to support ejs in script tag -->
  <script src="https://code.jquery.com/jquery-3.5.1.js"> </script>
  <script src="/js/ejs.min.js"></script>
  <script>
    let checkWhatsapp = ('<%- whatsapp %>' === 'true');
    let bankAccountFieldHtml = null;
    let nonCashCustomerFieldHtml = null;
    let cashCustomerFieldHtml = `<input style="margin: 10px 0px;" type="text" class="form-control form-control-lg" placeholder="e.g Malik Amjad" name="cashCustomer" id="cashCustomer" value="">`;

    // function is called when something is changes in customer type in input field
    function customerTypeChange(value) {
      let editing = '<%- editing %>';
      let cashCustomerName = '<%- editing ? cashBook.cashCustomer : "" %>';
      let customerInputField = document.getElementById('customerField');

      if (value === "nonCash" && nonCashCustomerFieldHtml) {
        customerInputField.innerHTML = nonCashCustomerFieldHtml;
      } else if (value === 'cash') {

        nonCashCustomerFieldHtml = customerInputField.innerHTML;

        if (editing) {
          customerInputField.innerHTML = `<input style="margin: 10px 0px;" type="text" class="form-control form-control-lg" placeholder="e.g Malik Amjad" name="cashCustomer" id="cashCustomer" value="${cashCustomerName}">`;
        } else {
          customerInputField.innerHTML = cashCustomerFieldHtml;
        }
      }
    }

    // function is called when something is changes in customer type in input field
    function paymentTypeChange(value) {
      let bankAccountField = document.getElementById('bankAccount');
      if (value === 'cash') {
        bankAccountFieldHtml = bankAccountField.innerHTML;
        bankAccountField.innerHTML = '';
      } else {
        bankAccountField.innerHTML = bankAccountFieldHtml;
      }
    }



    // these settings are loaded on page load
    window.onload = () => {

      // first save bank field html
      let bankAccountField = document.getElementById('bankAccount');
      if (bankAccountField)
        bankAccountFieldHtml = bankAccountField.innerHTML;

      let editing = '<%- editing %>';

      if (editing) {

        // first handle here the customer type here
        let customerType = '<%- editing ? cashBook.customerType : "" %>';
        let cashCustomerName = '<%- editing ? cashBook.cashCustomer : "" %>';

        if (customerType === "nonCash" && nonCashCustomerFieldHtml) {

          customerInputField.innerHTML = nonCashCustomerFieldHtml;

        } else if (customerType === "cash") {

          let customerInputField = document.getElementById('customerField');
          nonCashCustomerFieldHtml = customerInputField.innerHTML;
          customerInputField.innerHTML = `<input style="margin: 10px 0px;" type="text" class="form-control form-control-lg" placeholder="e.g Malik Amjad" name="cashCustomer" id="cashCustomer" value="${cashCustomerName}">`;
        }

        // handle here the payment type here

        let paymentType = '<%- editing ? cashBook.paymentType : "" %>';
        let entryType = '<%-  entryType ? entryType : "" %>';
        let bankAccountField = document.getElementById('bankAccount');
        if (paymentType === 'cash') {
          bankAccountFieldHtml = bankAccountField.innerHTML;
          bankAccountField.innerHTML = '';
        } else if (entryType !== 'addStock' && entryType !== 'sellStock') {
          bankAccountField.innerHTML = bankAccountFieldHtml;
        }

      }

    }

    function startSpinner() {
      // your code to make the spinner start
      $("#submit").prop("disabled", true);
      $("#submit").html(
        `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...`
      );
    }

    function stopSpinner(message) {
      // you code to make the spinner stop
      // (i.e., return the button to its original state)
      $("#submit").prop("disabled", true);
      $("#submit").html(message);
    }

    $(document).ready(function() {
      $('#formId').on('submit', function(event) {
        // initiate spinner
        startSpinner();
        // ajax request to handle the form
        $.ajax({
            data: {
              customer: $('#customer option:selected').val(),
              cashCustomer: $('#cashCustomer').val(),
              customerType: $('#customerType option:selected').val(),
              paymentType: $('#paymentType option:selected').val(),
              bankAccount: $('#bankAccount option:selected').val(),
              amount: $('#amount').val(),
              cashBookId: $('#cashBookId').val(),
              entryType: $('#entryType').val(),
              whatsapp: checkWhatsapp,
              customerTypeValue: $('#customerType option:selected').text(),
              customerValue: $('#customer option:selected').text() ?? null,
              paymentTypeValue: $('#paymentType option:selected').text(),
              bankAccountValue: $('#bankAccount option:selected').text() ?? null,
            },
            type: 'POST',
            url: $('#formId').prop("action")
          })
          .done(function(data) {
            stopSpinner("Done! ", true);
            console.log("check whatsapp again ", checkWhatsapp);
            if (checkWhatsapp) {
              var i = 5;
              var interval = setInterval(function() {
                $("#whatsapp").html(
                  `<h3 class="text-success">Success</h3>
                <h5 class="text-success">Go Back to Whatsapp.</h5>
                <h6 class="text-dark">the browser tab will close automatically in ${i} seconds</h6>`
                );
                i--;
              }, 1000);
              setTimeout(() => {
                clearInterval(interval);
                window.top.close();
              }, 7000)
            } else {
              $("#formButton").html(
                `<h5 class="text-success">Success</h5>`
              );

              var pageName = data;
              document.location.href = pageName;
            }
          })
          .fail(function(data) {
            stopSpinner("Failed! ", false);
            console.log(data.responseText);
            if (checkWhatsapp) {
              $("#whatsapp").html(
                `<h3 class="text-danger">Failed</h3>
                <h5 class="text-primary">Go Back to Whatsapp. and try again with a new link</h5>`
              );
            } else {
              $("#formButton").html(
                `<h5 class="text-danger">failed to submit data! Please Reload the Page and Try Again </h5>`
              );
            }
          })
        // should these be at the top?
        event.preventDefault();
        event.stopImmediatePropagation();

      });

    });
  </script>
  <%- include('../includes/end.ejs') %>