<%- include('../includes/head.ejs') %>


<body>
  <!-- control navigation of page here  -->
  <%- include('../includes/navigation.ejs') %>

  <main class="row vertical-center">
    <div class="col-xs-8 col-xs-offset-2  col-sm-6 col-sm-offset-3 col-md-4 col-sm-offset-4 col-lg-8 col-lg-offset-5s">

      <!-- page title for edit pages -->
      <span for="name" class="fs-3" style="display: flex;margin-bottom: 20px;">
        Enter <b>&nbsp; <%- entryType === "debitAmount" ? "<span class='text-danger'> - Debit Amount </span>" : entryType === 'creditAmount' ? "<span class='text-success'> + Credit Amount </span>" : '' %> &nbsp;</b> Details:
      </span>

      <!-- edit form settings and actions -->
      <form class="form-control " action="/<% if (editing) { %>edit-cash-book/?type=<%= entryType === 'creditAmount' ? "creditAmount" : entryType === 'debitAmount' ? "debitAmount" : '' %>
            <% } else { %>add-cash-book/?type=<%= entryType === 'creditAmount' ? "creditAmount" : entryType === 'debitAmount' ? "debitAmount" : '' %>
                <% } %>" method="POST">


        <!-- hidden field to for getting entry type -->
        <input style="margin: 10px 0px;" type="hidden" class="form-control form-control-lg" name="entryType" id="entryType" value="<%= entryType === 'creditAmount' ? "creditAmount" : entryType === 'debitAmount' ? "debitAmount": '' %>">


        <!-- Customer Type Input Field -->
        <label for="customerType">
          <% if (editing) { %>Update <% } else { %>Select <% } %>
          <b>Customer Type:</b>
        </label>
        <select class="form-select" style="margin: 10px 0px;" id="customerType" name="customerType" onchange="customerTypeChange(this.value)">
          <option disabled>Select Customer Type</option>
          <% for (let [i, customerType] of customerTypes.entries()) { %>
          <option <% if (editing && customerType === cashBook.customerType ) { %> selected='selected' <% } else if(!editing && customerType === "nonCash") { %> selected='selected' <% } %> value="<%= customerType %>"><%= customerType.toUpperCase() %>
          </option>
          <% } %>
        </select>


        <!-- Customer Input Field -->
        <label for="customer">
          <% if (editing) { %>Update <% } else { %>Select <% } %>
          <b>Customer </b> name:
        </label>
        <span id="customerField">
          <select class="form-select" style="margin: 10px 0px;" id="customer" name="customer">
            <option selected disabled>Select Customer name</option>
            <% for (let [i, customer] of customers.entries()) { %>
            <option <% if (editing && customer.id===cashBook.customerId ) { %> selected='selected' <% } else { %> <% } %> style="color: green" value="<%= customer.id %>">
              <%= customer.name %>
            </option>
            <% } %>
          </select>
        </span>


        <!-- Payment Type Input Field -->
        <label for="paymentType">
          <% if (editing) { %>Update <% } else { %>Select <% } %>
          <b>Payment Type : </b>
        </label>
        <select class="form-select" style="margin: 10px 0px;" id="paymentType" name="paymentType" onchange="paymentTypeChange(this.value)">
          <option selected disabled>Select Payment Method</option>
          <% for (let [i, paymentType] of paymentTypes.entries()) { %>
          <option <% if (editing && paymentType===cashBook.paymentType ) { %> selected='selected' <% } else { %> <% } %> value="<%= paymentType %>"><%= paymentType.toUpperCase() %>
          </option>
          <% } %>
        </select>

        <!-- Bank Account Input Field -->
        <span id="bankAccount">
          <label for="bankAccount">
            <% if (editing) { %>Update <% } else { %>Select <% } %>
            <b>Bank Account : </b>
          </label>
          <select class="form-select" style="margin: 10px 0px;" id="bankAccount" name="bankAccount">
            <option selected disabled>Select Bank Account Name</option>
            <% for (let [i, bankAccount] of bankAccounts.entries()) { %>
            <option <% if (editing && bankAccount.id===cashBook.bankAccountId ) { %> selected='selected' <% } else { %> <% } %> value="<%= bankAccount.id %>"><%= bankAccount.accountName %>
            </option>
            <% } %>
          </select>
        </span>

        <!-- Amount Input Field -->
        <label for="amount"><b>
            <% if (editing) { %>Update existing <%= "Amount :" %><% } else { %>Enter <%= "Amount :" %> <% }%>
          </b>
        </label>
        <input style="margin: 10px 0px;" type="text" class="form-control form-control-lg" placeholder="e.g 325000/=" name="amount" id="amount" value="<% if (editing) { %><%= cashBook.amount %><% } %>">

        <!-- hidden input field for getting cashBook id in edit mode -->
        <% if (editing) { %>
        <input type="hidden" value="<%= cashBook.id %>" name="cashBookId">
        <% } %>

        <!-- form submit button  -->
        <div>
          <button type="submit" class="btn btn-lg btn-outline-success" style="margin-top: 20px;">
            <% if (editing) { %>Update CahBook Entry<% } else { %>Add New CahBook
            Entry<% } %>
          </button>
        </div>

      </form>
    </div>
  </main>
  <!-- added javascript logic to control form -->
  <!-- to control the input field logic here  -->
  <!-- below first script tag is to support ejs in script tag -->
  <script src="/js/ejs.min.js"></script>
  <script>
    let bankAccountFieldHtml = null;
    let nonCashCustomerFieldHtml = null;
    let cashCustomerFieldHtml = `<input style="margin: 10px 0px;" type="text" class="form-control form-control-lg" placeholder="e.g Malik Amjad" name="cashCustomer" id="cashCustomer" value="">`;

    // function is called when something is changes in customer type in input field
    function customerTypeChange(value) {
      let editing = '<%- editing %>';
      let cashCustomerName = '<%- editing ? cashBook.cashCustomer : "" %>';
      let customerInputField = document.getElementById('customerField');

      if (value === "nonCash" && nonCashCustomerFieldHtml) {
        customerInputField.innerHTML = nonCashCustomerFieldHtml;
      } else if (value === 'cash') {

        nonCashCustomerFieldHtml = customerInputField.innerHTML;

        if (editing) {
          customerInputField.innerHTML = `<input style="margin: 10px 0px;" type="text" class="form-control form-control-lg" placeholder="e.g Malik Amjad" name="cashCustomer" id="cashCustomer" value="${cashCustomerName}">`;
        } else {
          customerInputField.innerHTML = cashCustomerFieldHtml;
        }
      }
    }

    // function is called when something is changes in customer type in input field
    function paymentTypeChange(value) {
      let bankAccountField = document.getElementById('bankAccount');
      if (value === 'cash') {
        bankAccountFieldHtml = bankAccountField.innerHTML;
        bankAccountField.innerHTML = '';
      } else {
        bankAccountField.innerHTML = bankAccountFieldHtml;
      }
    }



    // these settings are loaded on page load
    window.onload = () => {

      // first save bank field html
      let bankAccountField = document.getElementById('bankAccount');
      if (bankAccountField)
        bankAccountFieldHtml = bankAccountField.innerHTML;

      let editing = '<%- editing %>';

      if (editing) {

        // first handle here the customer type here
        let customerType = '<%- editing ? cashBook.customerType : "" %>';
        let cashCustomerName = '<%- editing ? cashBook.cashCustomer : "" %>';

        if (customerType === "nonCash" && nonCashCustomerFieldHtml) {

          customerInputField.innerHTML = nonCashCustomerFieldHtml;

        } else if (customerType === "cash") {

          let customerInputField = document.getElementById('customerField');
          nonCashCustomerFieldHtml = customerInputField.innerHTML;
          customerInputField.innerHTML = `<input style="margin: 10px 0px;" type="text" class="form-control form-control-lg" placeholder="e.g Malik Amjad" name="cashCustomer" id="cashCustomer" value="${cashCustomerName}">`;
        }

        // handle here the payment type here

        let paymentType = '<%- editing ? cashBook.paymentType : "" %>';
        let entryType = '<%-  entryType ? entryType : "" %>';
        let bankAccountField = document.getElementById('bankAccount');
        if (paymentType === 'cash') {
          bankAccountFieldHtml = bankAccountField.innerHTML;
          bankAccountField.innerHTML = '';
        } else if (entryType !== 'addStock' && entryType !== 'sellStock') {
          bankAccountField.innerHTML = bankAccountFieldHtml;
        }

      }

    }
  </script>
  <%- include('../includes/end.ejs') %>