<%- include('../includes/head.ejs') %>

<body>
  <%- include('../includes/navigation.ejs') %>

  <main class="container-fluid">
    <% if (banks.length > 0) { %>
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row" style="    display: flex;
        align-items: flex-end;">
          <div class="col-sm-6">
            <h4>Manage <b>Banks</b></h4>
          </div>
          <div class="col-sm-6 table-action" style="display: flex;
          flex-direction: row-reverse;">
            <!-- table action button work -->
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">

              <a href="/add-bank" class="btn btn-outline-success btn-sm me-md-2 modalButton" style="margin: 0.5rem">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                  <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                </svg>
                <span> Add Bank</span></a>
              <!-- table action button ended here -->
            </div>
          </div>
        </div>
      </div>

      <div class="table-responsive-sm">
        <table id="example" class="table table-sm table-hover align-middle text-nowrap border table-bordered border-dark">
          <thead class="table-secondary">
            <tr>
              <th scope="col" style="width: 70px" class="text-center"># ID</th>
              <th scope="col">Bank Name</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <div>
              <% for (let [i, bank] of banks.entries()) { %>
              <tr>
                <th scope="row" class="text-center">
                  <%= i+1 %>
            </div>
            </th>
            <td style="padding: 5px;"><%= bank.name %></td>
            <td>
              <form action="/edit-bank/<%= bank.id %>/?edit=true" method="get">
                <!-- edit button -->
                <button type="submit" class="btn btn-link modalButton">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                  </svg></button>
                <input type="hidden" name="edit" value="true" />
              </form>

              <form action="/delete-bank" method="post">
                <!-- delete button -->
                <button class="btn btn-link modalButton" style="color: red;">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                  </svg></button>
                <input type="hidden" value="<%= bank.id %>" name="bankId">
              </form>
            </td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>
    <% } else { %>
    <!-- table action button work -->
    <a href="/add-bank" class="btn btn-outline-success" style="margin: 0.5rem">Add First Bank</a>
    <h4 class="centered">No Banks Data Found!</h4>
    <% } %>

    <script src="https://code.jquery.com/jquery-3.5.1.js"> </script>
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"> </script>
    <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"> </script>
    <script>
      window.onload = function() { // when the page has loaded
        var bt = document.querySelectorAll(".modalButton"); // get all buttons with the class
        for (var i = 0; i < bt.length; i++) { // newer browsers can use forEach
          bt[i].onclick = function() { // assign anonymous handler
            $("#myModal").modal("toggle");
          }
        }
      }


      $('#example').DataTable();
    </script>
  </main>
  <%- include('../includes/end.ejs') %>
</body>