<%- include('../includes/head.ejs') %>
</head>

<body>
  <%- include('../includes/navigation.ejs') %>

  <main class="row vertical-center">
    <div class="col-xs-8 col-xs-offset-2  col-sm-6 col-sm-offset-3 col-md-4 col-sm-offset-4 col-lg-8 col-lg-offset-5s">
      <span for="name" class="fs-3" style="display: flex;
        margin-bottom: 20px;">Enter Amount Type:</span>
      <form class="form-control " action="/<% if (editing) { %>edit-amount-type<% } else { %>add-amount-type<% } %>" method="POST">
        <label for="floatingInput"><% if (editing) { %>Update existing  Amount Type<% } else { %>Enter new Amount Type<% } %></label>
        <input type="text" class="form-control form-control-lg" placeholder="for example: Credit or Debit or Both" name="name" id="floatingInput" value="<% if (editing) { %><%= amount_type.type %><% } %>">
        <% if (editing) { %>
        <input type="hidden" value="<%= amount_type.id %>" name="amountTypeId">
        <% } %>
        <div>
          <button type="submit" class="btn btn-lg btn-outline-success" style="margin-top: 20px;">
            <% if (editing) { %>Update Amount Type<% } else { %>Add New Amount Type<% } %>
          </button>
        </div>
      </form>
    </div>
  </main>
  <%- include('../includes/end.ejs') %>