<%- include('../includes/head.ejs') %>

<body>
  <%- include('../includes/navigation.ejs') %>

  <main class="container-fluid">
    <% if (customerDetails.length > 0) { %>
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row" style="display: flex; align-items: flex-end">
          <div class="col-sm-6">
            <h4><b><%= customer.name %> </b> Khata</h4>
          </div>
          <div class="col-sm-6 table-action" style="display: flex; flex-direction: row-reverse">
            <span>
              <h6>
                <b>Current</b> Balance :
                <strong><%= customer.balance %>/=</strong>
              </h6>
            </span>
          </div>
        </div>
      </div>
      <table id="example1" class="table table-sm table-hover align-middle text-nowrap border table-bordered border-dark">
        <thead class="table-secondary">
          <tr>
            <th scope="col" class="text-center"># ID</th>
            <th scope="col">Date</th>
            <th scope="col">Qty</th>
            <th scope="col">Pattern/Size</th>
            <th scope="col">Price</th>
            <th scope="col">Pay Type</th>
            <th scope="col">Bank Account</th>
            <th scope="col">Credit +</th>
            <th scope="col">Debit -</th>
            <th scope="col">Balance</th>
          </tr>
        </thead>
        <tbody>
          <% for (let [i, customerKhata] of customerDetails.entries()) { %>
          <!-- starting stock entry -->
          <% if (i === 0) { %>
          <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th class="text-end text-uppercase fs-6 fst-normal">Start</th>
            <th><%= customerKhata.startingBalance %></th>
          </tr>
          <!-- handle all other entries in table -->
          <% } else { %>
          <tr>
            <th scope="row" class="text-center"><%= i %></th>
            <td style="padding-left: 5px;"><%= new Date(customerKhata.Date).toLocaleDateString() %></td>

            <td style="padding-left: 5px;"><% if (customerKhata.entryType === "sellStock") { %>
              <%= customerKhata.qty %>
              <% } else { %>
              -
              <% }  %>
            </td>
            <td style="padding-left: 5px;"><% if (customerKhata.entryType === "sellStock") { %>
              <%= customerKhata.size %> <%= customerKhata.pattern %>
              <% } else { %>
              -
              <% }  %>
            </td>
            <td style="padding-left: 5px;"><% if (customerKhata.entryType === "sellStock") { %>
              <%= customerKhata.amount %>
              <% } else { %>
              -
              <% }  %>
            </td>
            <td style="padding-left: 5px;"><% if (customerKhata.entryType === "creditAmount" || customerKhata.entryType === "debitAmount") { %>
              <%= customerKhata.paymentType.toUpperCase() %>
              <% } else { %>
              -
              <% }  %>
            </td>
            <td style="padding-left: 5px;"><% if (customerKhata.entryType === "creditAmount" || customerKhata.entryType === "debitAmount") { %>
              <%= customerKhata.bankDetails %>
              <% } else { %>
              -
              <% }  %>
            </td>

            <td style="padding-left: 5px;"><%= customerKhata.credit %></td>
            <td style="padding-left: 5px;"><%= customerKhata.debit %></td>
            <td style="padding-left: 5px;"><%= customerKhata.balance %></td>
          </tr>
          <% } %>
          <% } %>
        </tbody>
        <tfoot>
          <tr>
            <th colspan="4" style="text-align:right">Total <span class="text-success">Credit</span>
              :</th>
            <th></th>
            <th colspan="2" style="text-align:right">Total <span class="text-danger">Debit</span>
              :</th>
            <th>
            </th>
          </tr>
        </tfoot>
      </table>
    </div>
    <% } else { %>
    <!-- table action button work -->
    <h1 class="centered">No Khata Details for <%= customerDetails %>!</h1>
    <% } %>

    <script src="https://code.jquery.com/jquery-3.5.1.js"> </script>
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"> </script>
    <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"> </script>

    <script>
      $('#example1').DataTable({
        aLengthMenu: [
          [50, 100, 200, -1],
          [50, 100, 200, "All"]
        ],
        "columns": [{
            "data": "id"
          },
          {
            "data": "date"
          },
          {
            "data": "qty"
          },
          {
            "data": "pattern/size"
          },
          {
            "data": "price",
            render: $.fn.dataTable.render.number(',', '.')
          },
          {
            "data": "payType",
          },
          {
            "data": "bankAccount",
          },
          {
            "data": "credit",
            render: $.fn.dataTable.render.number(',', '.')
          },
          {
            "data": "debit",
            render: $.fn.dataTable.render.number(',', '.')
          },
          {
            "data": "balance",
            render: $.fn.dataTable.render.number(',', '.')
          },
        ],
        footerCallback: function(row, data, start, end, display) {
          var api = this.api();
          // Remove the formatting to get integer data for summation
          var intVal = function(i) {
            return typeof i === 'string' ? i.replace(/[\$,]/g, '') * 1 : typeof i === 'number' ? i : 0;
          };
          // Total over this page
          var creditTotal = 0;
          var debitTotal = 0;

          let [creditData, debitData] = api.columns([7, 8], {
            page: "current"
          }).data().toArray();

          for (let index = 0; index < creditData.length; index++) {
            if (Number(creditData[index]))
              creditTotal += Number(creditData[index])
            if (!isNaN(debitData[index]))
              debitTotal += Number(debitData[index])

          }
          // // Update footer
          $(api.column(4).footer()).html(creditTotal.toLocaleString('en-US'));
          $(api.column(7).footer()).html(debitTotal.toLocaleString('en-US'));
        },
      });
    </script>
  </main>
  <%- include('../includes/end.ejs') %>
</body>