<%- include('../includes/head.ejs') %>

<body>
  <%- include('../includes/navigation.ejs') %>

  <main class="container-fluid">
    <% if (customerDetails.length > 0) { %>
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row" style="display: flex; align-items: flex-end">
          <div class="col-sm-6">
            <h2><b><%= customer.name %> </b> Khata</h2>
          </div>
          <div class="col-sm-6 table-action" style="display: flex; flex-direction: row-reverse">
            <span>
              <h5>
                <b>Current</b> Balance :
                <strong><%= customer.balance %>/=</strong>
              </h5>
            </span>
          </div>
        </div>
      </div>
      <table class="table table-responsive table-bordered table-hover align-middle">
        <thead>
          <tr>
            <th scope="col" style="width: 70px" class="text-center"># ID</th>
            <th scope="col">Date</th>
            <th scope="col">Details</th>
            <th scope="col">Credit +</th>
            <th scope="col">Debit -</th>
            <th scope="col">Balance</th>
          </tr>
        </thead>
        <tbody>
          <% for (let [i, customerKhata] of customerDetails.entries()) { %>
          <!-- starting stock entry -->
          <% if (i === 0) { %>
          <tr>
            <th colspan="5" class="text-end text-uppercase fs-6 fst-normal">Opening Balance</th>
            <th><%= customerKhata.startingBalance %></th>
          </tr>
          <!-- handle all other entries in table -->
          <% } else { %>
          <tr>
            <th scope="row" class="text-center"><%= i %></th>
            <td><%= new Date(customerKhata.Date).toDateString() %></td>
            <td>
              <% if (customerKhata.entryType === "creditAmount" || customerKhata.entryType === "debitAmount") { %>
              PaymentType &#8594 <strong><%= customerKhata.paymentType.toUpperCase() %></strong>&nbsp;
              <% if (customerKhata.paymentType !== "cash") { %>
              BankAccount &#8594 <strong><%=customerKhata.bankDetails %></strong>&nbsp;
              <% } %>
              <% }  else if (customerKhata.entryType === "sellStock") { %>
              QTY &#8594 <strong><%= customerKhata.qty %></strong>&nbsp;
              Pattern &#8594 <strong><%=customerKhata.pattern %></strong>&nbsp;
              Size &#8594 <strong><%=customerKhata.size %></strong>&nbsp;
              Price &#8594 <strong><%=customerKhata.amount %></strong>&nbsp;
              <% } %>

            </td>
            <td><%= customerKhata.credit %></td>
            <td><%= customerKhata.debit %></td>
            <td><%= customerKhata.balance %></td>
          </tr>
          <% } %>
          <% } %>
        </tbody>
      </table>
    </div>
    <% } else { %>
    <!-- table action button work -->
    <h1 class="centered">No Khata Details for <%= customerDetails %>!</h1>
    <% } %>
  </main>
  <%- include('../includes/end.ejs') %>
</body>